<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.NewsDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notizie</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Notizie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Articles</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Articles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewArticle</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.NewArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaArticolo</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.EliminaArticolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAjax</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.searchAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>it.fpw.marinimau.blog.Filter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/articoli.html2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail</servlet-name>
        <url-pattern>/notizia.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notizie</servlet-name>
        <url-pattern>/notizie.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Articles</servlet-name>
        <url-pattern>/articoli.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewArticle</servlet-name>
        <url-pattern>/scriviArticolo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/eliminaprofilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/registrazione.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaArticolo</servlet-name>
        <url-pattern>/eliminaarticolo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAjax</servlet-name>
        <url-pattern>/searchAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/filter.json</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>notizie.html</welcome-file>
    </welcome-file-list>
</web-app>
